.container
    display: flex
    gap: 2rem
    margin-top: 1rem
    padding: 1rem
    width: 98%
    background-color: #161b22
    border-radius: 10px
.login
    margin-left: auto

button
    background-color: none
    background: none
    border: none
    outline: none
    color: hsl(43, 13%, 68%)
    &:hover
        color: hsl(43, 13%, 42%)
        cursor: pointer
    