<div class="container">
  <form id="dataForm" novalidate [formGroup]="taskForm">
    <div class="form">
      <label for="name">Nombre de la tarea: </label>
      <input
        id="name"
        type="text"
        placeholder="Nombre..."
        formControlName="nombre"
      />
    </div>
    <div class="form_descripcion form">
      <label for="descripcion">Descripcion: </label>
      <textarea
        type="text"
        id="descripcion"
        placeholder="Descripcion..."
        formControlName="descripcion"
      ></textarea>
    </div>
    <div class="form">
      <label for="inicio">Fecha de inicio: </label>
      <input type="date" id="inicio" formControlName="f_inicio" />
    </div>
    <div class="form">
      <label for="limite">Fecha limite: </label>
      <input type="date" id="limite" formControlName="f_limite" />
    </div>
    <div class="prioridad">
      <label for="prioridad form">Prioridad</label>
      <div>
        <label for="alto">Alto</label>
        <input
          id="alto"
          type="radio"
          name="prioridad"
          value="Alto"
          formControlName="prioridad"
        />
        <label for="medio">Medio</label>
        <input
          id="medio"
          type="radio"
          name="prioridad"
          value="Medio"
          formControlName="prioridad"
        />
        <label for="bajo">Bajo</label>
        <input
          id="bajo"
          type="radio"
          name="prioridad"
          value="Bajo"
          formControlName="prioridad"
        />
      </div>
    </div>
    <button type="reset" [disabled]="taskForm.invalid" (click)="submit()">
      Agregar!
    </button>
  </form>
</div>
